
/*CSS NOVO.3*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    border:0;
    padding: 0;
    display: block;
    font-family: "Outfit", sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

/*CABEÇALHO*/
.icone{
    border-radius: 50%;
}

.parte1{
    height: auto;
}

.nave{
    display: none;
    list-style: none;
    position: fixed;
    width: 100%;
    height: 53px;
    background-color: white;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.295);
    padding: 7px;
    z-index: 1;
}

.nave li{
    list-style: none;
    padding-top: 10px;
}

.menu-moba a{
    padding-top: 40px;
}

.menu-moba li, a{
    list-style: none;
    color: #4E5152;
    padding-right: 20px;
    margin-right: 15px;
    font-weight: 700;
    right: 250px;

}

#fafa{
    text-align: center;
    padding-top: 8px;
    margin-left: 100%;
    margin-right: -86%;
    width: 100%;
    height: 75%;
    margin-top: -30px;
    position: absolute;
  /*  background-color: rgba(0, 128, 0, 0.555);*/
}

.moba-icon{
  /*  background-color: blue;*/
    position: relative;
    margin-top: 25px;
    margin-left: 90%;
    width: 5px;
    height: 0.001px;
}
/*------*/
.cabeça{
    position: fixed;
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.295);
    padding: 20px;
    background-color: white;
    z-index: 1;
}

.cabeça a{
    position: relative;
    color: #4E5152;
}

.cabeça li{
    position: relative;
    list-style: none;
    display: inline;
   /* padding-right: 20px;
    margin-right: 15px;*/
    justify-content: space-between;
    font-weight: 700;
    left: 250px;
}

.cabeça ul{
    text-align: right;
    margin: 0;
    margin-right: 20px;
}

/*IMAGEM 1*/

.txtdiv p{
    display: flex;
    position: absolute;
    text-align: right;
    margin-left: -1%;
    width: 100%;
    justify-content: end;
    margin-top: -630px;
    color: white;
    font-size: 60px;
    font-weight: 300;
}

.imgemdiv{
    top:20px;
    width: 100%;
    height: 715px;
    overflow: hidden;
}

.imgg{
    position: relative;
    width: 100%;
    height: 750px;
    clip-path: polygon(0 15%, 100% 15%, 100% 100%, 0 100%);
    top:0.1px;
}

/*NOME E BOTÃO 1*/

.pt_1 .nomeImpresa{
    position: relative;
    font-weight: 700;
    top:70px;
    font-size: 26px;
    color: #4E5152;/*cinza escuro*/
    padding-left: 30px;
    margin-bottom: -40px;
}

.pt_1 button{
    position: absolute;
    top: 80px;
    right:77px;
    height:45px;
    width: 170px;
    text-decoration:underline;
    background-color: transparent;
    color: #A7ADAF;/*cinza claro*/
    font-size: 13.5px;
    font-weight: 600;
    border: solid;
    border-width: 1.5px;
    border-color:#A7ADAF;
    cursor: pointer;
    justify-self: center;
}

/*SOBRE*/
.sobre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top:220px ;
    padding-bottom: 170px;

}

.sobre h2{
    font-size: 30px;
    color: #4E5152;
}

.sobre h5{
    font-size: 18px;
    color: #4E5152;
    margin-bottom: 20px;
}

/*APRESENTAÇÃO*/

.presents{
    padding-top: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 540px;
    align-items: center;
}

.pre-img{
    height: 375px;
    align-items: center;
   /* background-color: blue;*/
    width: 409px;
    position: absolute;
    overflow: hidden;
    margin-left: 0.5%;
}

.presents img{
   /* clip-path: polygon(14% 0, 87% 0, 87% 100%, 14% 100%);
    margin-left: -5%;
    margin-bottom: 20%;
    width: 50%;
    position: relative;*/
   
    clip-path: polygon(14% 0, 87% 0, 87% 100%, 14% 100%);
    position: inherit;
    margin-left: -78px;
    width: 137%;
    /*height: 100%;*/
}

.pre-txt{
    margin-top: 50px;
    /*background-color: blue;*/
    margin-left: 500px;
}

.presents h4{
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 100px;
    color: #4E5152;
}

.presents h5{
   
    font-weight: 700;
    font-size: 26px;
  /*  margin-top: 90px;*/
    color: #4E5152;
}

.presents p{

    padding-right: 80px;
    font-size: 18px;
    color: #4E5152;
    font-weight: 300;
}

.presents button{
    margin-top: 78px;
    margin-left: 30%;

    height:45px;
    width: 170px;
    text-decoration:underline;
    background-color: transparent;
    color: #A7ADAF;/*cinza claro*/
    font-size: 13.5px;
    font-weight: 600;
    border: solid;
    border-width: 1.5px;
    border-color:#A7ADAF;
    cursor: pointer;
}

/*PARCERIA*/

.parceria{
    padding-top: 10px;
    height: 540px;
    align-items: center;
    width: 100%;
    margin-top: px;
    padding-top: 170px;
    padding-bottom: 16px;
}

.par-img{
    height: 375px;
    align-items: center;
    background-color: blue;
    width: 409px;
    position: absolute;
    overflow: hidden;
    margin-left: 0.5%;
}


.parceria img{
    /*clip-path: polygon(14% 0, 87% 0, 87% 100%, 14% 100%);
    width: 50%;
    margin-left: -5%;
    position: relative;*/

    clip-path: polygon(14% 0, 90% 0, 90% 100%, 14% 100%);
    position: inherit;
    margin-left: -90px;
    height: 130%;
    width: 150%;
}

.parceria h5{
   
    font-weight: 700;
    font-size: 26px;
    margin-top: 160px;
    color: #4E5152;
}

.parceria .par_txt{

    margin-top: -120px;
    /*background-color: blue;*/
    margin-left: 500px;
}

.parceria p{
    
    padding-right: 80px;
    font-size: 18px;
    padding-bottom: 250px;
    color: #4E5152;
    font-weight: 300;
}

/*SERVIÇOS*/

.servico2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 80px;
}

.service{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    transition: 0.3s;
}

.card, .uno{
    background-image: url(https://media-public.canva.com/BxmAA/MAFDxoBxmAA/1/tl.jpg);
    background-position: -170px;
    background-size:230%;
    width: 300px;
    height: 460px;
    margin: 20px;
}

.dos{
    background-image: url(https://media-public.canva.com/89clM/MAElhx89clM/1/tl.jpg);
    background-position: -250px;
    background-size: 230%;
}

.tre{
    background-image: url(imagens-site-security/img-security-2.jpg);

    background-position: -280px;
    background-size:200%;
}

.text{
    position:absolute;
    background-color: white;
    padding: 15px;
    width: 250px;
    margin-top: 345px;
    margin-left: 10px;
}

.text p{
    padding-left: 30px;
    padding-bottom: 8px;
    font-size: 15px;
    color: #4E5152;
}

.text h2{
    padding-top: -10px;
    color: #A7ADAF;
    font-weight: 500;
}

/*PRODUTOS*/
.produtos{
    padding-top: 20px;
}

.produtos h1{
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 800;
}

.imagens-produtos{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagens-produtos img{
    border: solid;
    border-width: 0.5px;
    border-color:#A7ADAF;
}

.imgs-txt{
    transition: 0,3s;
}

.imgs-txt h4{
    text-align: center;
    color: #4E5152;
}

.btn-pro{
    margin: 5px 0 20px 0;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    font-size: 40px;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
}

.oxi{
    border: solid;
    border-width: 0.5px;
    border-color: #A7ADAF;
}

.linha{
    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
    border: solid;
    border-width: 2px;
    width: 52%;
    justify-content: end;
    margin-top: -62px;
    display: flex;
    text-align: right;
}

.lin2{
    position: absolute;
    border: solid;
    border-width: 2px;
    height: 0px;
    width: 89%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 75px;
    margin-bottom: 30px;
}

.top h1{
    font-size: 50px;
    margin-left: 90px;
    margin-bottom: 30px;
    margin-right: 60%;
}

/*CONTATOS*/

.contatos{
    margin-top: 100px;
    margin-left: 80px;
    color: #4E5152;
}

.contatos .nome{
    margin-top: 40px;
}

.contatos h1{
    font-size: 35px;
    margin-top: 30px;
}

.ctt{
    margin-bottom: 50px;
    margin-top: -60px;
    margin-right: 20%;
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    margin-right:20%;
    width: 35%;
}

.ctt h3{
    font-size: 20px;
    font-weight: 800;
    padding: 20px 0;
    margin-right: 20%;
}

.ctt p{
    font-size: 24px;
    color: #4E5152;
    margin-right: 20%;
}

/*ANIMAÇÃO DOS CRADS*/

.card:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.imgs-txt:hover{
    transform: scale3d(1.1, 1.1, 1);
}

.cabeça a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #4E5152;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.cabeça a:hover::after{
    width: 100%;
}
